<head>
    <% include partials/head %>
</head> 

<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello Anonimous</h1>
        <h2>Welcome to the Default hello page ! </h2>
        <p>Let me explain you how it works : </p>
        <ul>
            <li>Url '/' : Homepage (here)</li>
            <li>Url '/hello' : Default hello page </li>
            <li>Url '/name/YourName' : your own hello page (Bonus : on this page you will be able to see some metrics ;) ) </li>
        </ul>
    </div>

</body>

</html>